{% extends "poke_search/base.html" %}
{% block content %}
<p>
    <form method="get">
        <div class="form-row align-items-center">
            <div class="col-auto">
              <input type="text" class="form-control mb-2" placeholder="Nome do Pokémon" name="search_name">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
            </div>
        </div>
        <small class="form-text text-muted">
            Encontra os 3 pokémons de nome mais próximo.
        </small>
    </form>
</p>
{% if search_name %}
    <!-- <h3> Resultado </h3> -->
    {% if pokemon_list %}
        {% for pokemon in pokemon_list %}
        <div class="card mb-3">
            <div class="row no-gutters">
            <div class="col-md-1">
                <img id="{{pokemon.name}}img" src="{{ pokemon.img }}" class="card-img-top" alt="{{pokemon.name}}" style="max-height: 100px; width: auto; ">
            </div>
            <div class="col-md-11">
                <div class="card-body" >
                    {% if pokemon.type2 %}
                    <h5 class="card-title">{{ pokemon.name }}
                        <span class="badge badge-pill badge-primary">{{ pokemon.type1 }}</span>
                        <span class="badge badge-pill badge-primary">{{ pokemon.type2 }}</span>
                    </h5>
                    {% else %}
                    <h5 class="card-title">{{ pokemon.name }}
                        <span class="badge badge-pill badge-primary">{{ pokemon.type1 }}</span>
                    </h5>
                    {% endif %}

                    {% if pokemon.img_female or pokemon.img_shiny %}
                    <p>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" onclick="document.getElementById('{{pokemon.name}}img').src='{{ pokemon.img}}'">Padrão</button>
                        {% if pokemon.img_female %}
                        <button type="button" class="btn btn-secondary" onclick="document.getElementById('{{pokemon.name}}img').src='{{ pokemon.img_female}}'">Feminina</button>
                        {% endif %}
                        {% if pokemon.img_shiny %}
                        <button type="button" class="btn btn-secondary" onclick="document.getElementById('{{pokemon.name}}img').src='{{ pokemon.img_shiny }}'">Shiny</button>
                        {% endif %}
                        {% if pokemon.img_shiny_female%}
                        <button type="button" class="btn btn-secondary" onclick="document.getElementById('{{pokemon.name}}img').src='{{ pokemon.img_shiny_female }}'">Shiny Feminina</button>
                        {% endif %}
                    </div>
                    </p>
                    {% endif %}

                    <p>
                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#{{pokemon.name}}" aria-expanded="false" aria-controls="{{pokemon.name}}">
                        Detalhes
                    </button>
                    </p>

                    <div class="collapse" id="{{pokemon.name}}">
                        <div class="card card-body">
                            {% if pokemon.description %}
                            <p><em>{{ pokemon.description }}</em> ({{pokemon.description_lang}})</p>
                            {% endif %}
                            <ul>
                                <li>Nome: {{ pokemon.name }}</li>


                                {% if pokemon.type2 %}
                                <li>Tipos: {{ pokemon.type1 }} / {{ pokemon.type2 }}</li>
                                {% else %}
                                <li>Tipo: {{ pokemon.type1 }}</li>
                                {% endif %}

                                {% if pokemon.genders.masc and pokemon.genders.fem %}
                                <li>Gêneros: masculino e feminino</li>
                                {% elif pokemon.genders.masc %}
                                <li>Gênero: masculino</li>
                                {% elif pokemon.genders.fem %}
                                <li>Gênero: feminino</li>
                                {% elif pokemon.genders.genderless %}
                                <li>Gênero: sem gênero</li>
                                {% endif %}


                                <li>Atributos </li>
                                <ul>
                                    <li>HP: {{ pokemon.stats.hp }}</li>
                                    <li>Ataque: {{ pokemon.stats.attack }}</li>
                                    <li>Ataque especial: {{ pokemon.stats.special_attack }}</li>
                                    <li>Defesa: {{ pokemon.stats.defense }}</li>
                                    <li>Defesa especial: {{ pokemon.stats.special_defense }}</li>
                                    <li>Velocidade: {{ pokemon.stats.speed }}</li>
                                </ul>

                                {% if pokemon.evolves_from %}
                                <li>Evolve de: {{ pokemon.evolves_from }}</li>
                                {% else %}
                                <li>Evolve de: nenhum</li>
                                {% endif %}

                                {% if pokemon.evolves_to %}
                                <li>Evolve para: {{ pokemon.evolves_to }}</li>
                                {% else %}
                                <li>Evolve para: nenhum</li>
                                {% endif %}
                            </ul>

                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Nenhum pokémon foi encontrado.</p>
    {% endif %}
{% endif %}
{% endblock content %}