<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oie</title>
</head>
<body>
    <h2> Resultado </h2>
    {% if pokemon_list %}
        <ol>
        {% for pokemon in pokemon_list %}
            <li>{{ pokemon.name }}</li>
            <ul>
                {% if pokemon.type2 %}
                    <li> Tipos: {{ pokemon.type1 }} / {{ pokemon.type2 }} </li>
                {% else %}
                    <li> Tipo: {{ pokemon.type1 }} </li>
                {% endif %}
            </ul>
        {% endfor %}
        </ol>
    {% else %}
        <p>Nenhum pokémon foi encontrado.</p>
    {% endif %}
</body>
</html>